<nav class="py-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-sm-6">
                <img src="assets/images/logo.png" class="img-fluid">

            </div>
            <div class="col-md-8 col-sm-12 ">
                <ul class="list-unstyled  text-white d-flex justify-content-around">
                    <li class="nav-item ">
                        <a class="nav-link" routerLink='home'>HOME </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='movies'>MOVIES</a>
                    </li>
              
                    <li class="nav-item">
                        <a class="nav-link"  routerLink='tv'>TV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"  routerLink='contacts'>CONTACT</a>
                    </li>
                </ul>
                
            </div>
            <div class="col-md-2 col-sm-6  text-white d-flex justify-content-around">
                <i class="fab fa-facebook "></i>
                
                <i class="fab fa-twitter "></i>
                
                <i class="fab fa-instagram "></i>
                
                <i class="fab fa-youtube "></i>
                
            </div>
        </div>
    </div>
</nav>